In [0]:
# importando biblioteca
import pyspark.pandas as ps

In [0]:
# leitura dos arquivos formato Parquet
df_junto = ps.read_parquet("dbfs:/databricks-results/bronze/*/*/*")
df_junto.head()

  moeda       taxa        data
0   USD   0.201077  2024-02-05
1   GBP   0.160427  2024-02-05
2   EUR   0.187198  2024-02-05
3   JPY  29.889123  2024-02-05
4   CNY   1.431367  2024-02-05

In [0]:
# filtrando moedas de interesse 'USD', 'EUR', 'GBP'
moedas = ['USD', 'EUR', 'GBP']
df_moedas = df_junto[df_junto['moeda'].isin(moedas)]
df_moedas.head()

   moeda      taxa        data
0    USD  0.201077  2024-02-05
1    GBP  0.160427  2024-02-05
2    EUR  0.187198  2024-02-05
8    EUR  0.187288  2024-02-06
14   USD  0.201175  2024-02-07

In [0]:
# convertendo a coluna string data para datetime
df_moedas['data'] = ps.to_datetime(df_moedas['data'])

In [0]:
# pivotando o DataFrame

resultado_taxas_conversao = df_moedas.pivot_table(
    values='taxa',
    index=['data'],
    columns='moeda',
    aggfunc='first'
    ).sort_index(ascending=False)

resultado_taxas_conversao.head()

moeda            EUR       GBP       USD
data
2024-04-04  0.182614  0.156560  0.197914
2024-04-03  0.183063  0.156812  0.198409
2024-04-02  0.183317  0.156959  0.197398
2024-04-01  0.184242  0.157692  0.197820
2024-03-31  0.184771  0.157804  0.199414

In [0]:
# cópia do DataFrame
resultado_valores_reais = resultado_taxas_conversao.copy()

In [0]:
for moeda in moedas:
    resultado_valores_reais[moeda] = resultado_valores_reais[moeda]\
        .apply(
            lambda x: round(1 / x, 4)
)

In [0]:
# resultado da transformação da conversão de moeda e arredondado para 4 casas decimais
resultado_valores_reais

moeda          EUR     GBP     USD
data
2024-04-04  5.4760  6.3873  5.0527
2024-04-03  5.4626  6.3771  5.0401
2024-04-02  5.4550  6.3711  5.0659
2024-04-01  5.4276  6.3415  5.0551
2024-03-31  5.4121  6.3370  5.0147
2024-03-30  5.4163  6.3322  5.0152
2024-03-27  5.3977  6.2976  4.9918
2024-03-25  5.3905  6.2854  4.9737
2024-03-24  5.4063  6.3021  5.0024
2024-03-23  5.3800  6.2404  4.9523
2024-03-22  5.4350  6.3042  5.0029
2024-03-21  5.4049  6.2998  4.9760
2024-03-20  5.4331  6.3576  4.9677
2024-03-19  5.4657  6.3993  5.0315
2024-03-18  5.4700  6.4023  5.0306
2024-03-17  5.4314  6.3540  4.9910
2024-03-16  5.4454  6.3609  4.9964
2024-03-15  5.4454  6.3619  4.9964
2024-03-14  5.4353  6.3653  4.9942
2024-03-12  5.4311  6.3594  4.9701
2024-03-11  5.4424  6.3826  4.9789
2024-03-09  5.3961  6.3395  4.9304
2024-03-07  5.4041  6.3241  4.9353
2024-03-05  5.3830  6.2996  4.9586
2024-03-03  5.3720  6.2725  4.9547
2024-03-01  5.3762  6.2712  4.9547
2024-02-29  5.3712  6.2762  4.9713
2024-02-28  5.3851  6.2905  4.9688
2024-02-27  5.3501  6.2566  4.9339
2024-02-24  5.4115  6.3333  4.9951
2024-02-23  5.4120  6.3338  4.9955
2024-02-21  5.3412  6.2383  4.9364
2024-02-20  5.3277  6.2219  4.9279
2024-02-18  5.3568  6.2637  4.9671
2024-02-16  5.3533  6.2595  4.9671
2024-02-15  5.3586  6.2663  4.9739
2024-02-13  5.3050  6.2367  4.9535
2024-02-12  5.3360  6.2547  4.9537
2024-02-11  5.3499  6.2609  4.9546
2024-02-09  5.3411  6.2512  4.9525
2024-02-07  5.3562  6.2764  4.9708
2024-02-06  5.3394  6.2566  4.9638
2024-02-05  5.3419  6.2334  4.9732